.lessons {
    padding: 45px 0;
    &__main {
        padding: 0 95px;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_left {
            flex-direction: row;
        }
        &_right {
            flex-direction: row-reverse;
        }
    }
    &__textblock {
        width: 40%;
    }
    &__subtitle {
        margin-bottom: 24px;
        opacity: 0.87;
        color: #242424;
        font-family: 'Roboto';
        font-size: 28px;
        font-weight: 400;
    }
    &__text {
        opacity: 0.87;
        color: #000000;
        font-weight: 300;
        line-height: 24px;
    }
    &__img {
        width: 40%;
    }
}

@media screen and (max-width: 1365px) {
    .lessons {
        &__item {
            margin-bottom: 50px;
            &_left {
                img {
                    margin-left: 10px;
                }
            }
            &_right {
                img {
                    margin-right: 20px;
                }
            }
        }
        &__textblock {
            width: auto;
        }
        &__subtitle {
            font-size: 18px;
        }
    }
}